@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 479px) {

/* ------------- STRUCTURE ------------- */

.sequence-theme {
    background:#ffffff !important;
}

.cityscape {
    background:transparent !important;
}

#static_upper {
	clear: none;
	width: 100%;
}

#logo {
	position: inline;
	width: 250px !important;
	margin: 0 auto !important;
	margin-top: -20px !important;
	margin-left: 14% !important;
}

#plane {
	display: none !important;
}

.twitter_link, .facebook_link, .lin_link, .blip {
	display:none !important;
}

/* ------------- TWITTER SIDEBAR ------------- */
	#twitter_sidebar {
		display: none !important;
	}
	
	#antenna {
		display: none !important;
	}


/* --------------- NAVIGATION --------------- */
#navbar {
	width: 100%;
	height: 200px;
	margin-top: -24px;
}

#nav_wrap {
	width: 100%;
}

.inner_nav{
	height: 40px;
	color: #ffffff;
	font-weight: 700;
}

#navbar ul {
	display: block;
}

#navbar ul li {
	display: block;
	width: 100%;
	text-align: center;
	height: 32px;
	padding: 8px 0 0 0;		
}

#navbar ul li.nav_active {
	display: block;
}

/* ------------- UPPER SLIDER ------------- */
#sequence {
  width: 100%;
  height: 75px;
}

#sequence > .sequence-canvas {
  height: 100%;
  width: 100%;
}

#sequence > .sequence-canvas > li {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* ------------- LOWER SLIDER ------------- */
#sequence2 {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 100%;  
  height: 750px;
}
#sequence2 > .sequence-canvas {
  height: 100%;
  width: 100%;
}
#sequence2 > .sequence-canvas > li {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main_content_area {
	width: 85%;
	float: left;
	padding: 20px 20px 10px 20px;
}

/* ------------- SPONSOR ------------- */	

#sponsored_by {
	width: 90%;
	margin: 0 auto;
	text-transform: uppercase;
	font-weight: 700;
	color: #666666;
	font-size: 75%;
	border-top: 1px solid #ddd;	
	padding-top: 15px;
	padding-bottom: 0px;
}

#sponsored_flow {
	height: 75px !important;
	width: 100% !important;
}

/* ------------- SECTION TWEAKS ------------- */

#agenda_pdf_main {
	display: none !important;
}

.download_agenda {
	display: inline !important;
	width: 100%;
	margin-bottom: -200px !important;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;	
	height: 50px !important;
	padding-top: 40px;
}

.download_agenda img {
	width: 100%;
	margin-top: 0px;
}

.live_big_text {
	width: 100%;
}

#front_copy_left, #front_copy_right {
	font-size: 76%;
}

#front_buttons {
	clear: both;
	transition: none !important;
	-webkit-transition: none !important;
}

#front_copy_columns {
	margin-top: -35px;
}

ul.controllers {
	display: inline-block !important;
}

ul.controllers li {
	display: inline;
	float: left;
	width: 110px !important;
}

ul.controllers li img {
	width: 110px !important;
}

.watch_schedule {
	display: none !important;
}

h3 {
	font-size: 2em;
}

.intro_para {
	font-size: 100%;
}

.reg_para {
	font-size: 90%;
}

.remote_reg_button {
	width: 24%;
}

.sign_up_now {
	font-size: 120%;
}

.scroller {
	padding: 0;
	border-top: none;
	border-bottom: none;
	height: 435px;
	overflow: auto;
	-webkit-mask-box-image: url('scroll_mask_top.png');	
}

.smaller_grey {
	display: none;
}

/* ------------- AGENDA ------------- */

#agenda_grid {
	display: none !important;
}

#moving_tab {
	display: none !important;
}
	
/* --------------- Banner Ad --------------- */

#main_banner {
	width: 90%;
	border: none;
	border-top: 1px solid #cccccc;
	text-align: center;
	margin-top: -150px;
	padding-top: 15px;
}

.center {
	margin: 0 auto;
}

#main_banner img {
	width: 100%;
}

/* ------------- FOOTER ------------- */
	#footer_wrap {
		width: 100%;
		clear: both;
		min-height: 175%;
		height: 150px !important;
		margin-top: 72px;
	}

	#footer {
		width: 92%;
		margin: 0 auto;
		padding-top: 24px;
		font-size: 75%;
	}

	#lower_logo {
		float: none;
		width: 160px;
		clear: both !important;
		margin: 0 auto;
	}

	#lower_nav {
		float: none;
		width: 100%;
		text-align: center;
		margin: 12px 0 12px 0;
	}

	#lower_nav ul li {
		display: inline;
		padding-left: 0px;
	}

	#social_nav {
		float: none;
		width: 100%;
		text-align: center;
	}

	#social_nav ul li {
		display: inline;
		padding-left: 0px;
		font-size: 95%;
	}
	
	.lower_nav_divider {
		margin: 0 6px 0 6px;
	}

}
