/* ------------- REGISTER SLIDE ------------- */
.remote_reg_button {
	margin-top: -35px;
	margin-left: 0px;
	margin-right: 10px;
	float: left;
}

.sign_up_now {
	font-size: 200%;
}

.sign_up_now a {
	color: #ff9900;
	text-decoration: underline;
}

.sign_up_now a:hover {
	text-decoration: none;
}