<li id="agenda" >


<div class="lower_stuff main_content_area full_width_frame">
	
	<div id="agenda_pdf_main">
		<a href="../mergelive2013/images/live_schedule.pdf"><img src="../mergelive2013/images/download_full.png"></a>
	</div>	
	
<h3 class="purple_head">Agenda <span class="smaller_grey" style="font-size:45%;">Please note that all sessions are scheduled in Central time</span></h3>

<div class="download_agenda">
	<br/>
	<a href="../mergelive2013/images/live_schedule.pdf"><img src="../mergelive2013/images/download.png"></a>
</div>

<div id="moving_tab">
	<div class="tabs">
		<div class="tabby item1">Tuesday, 8/13:<br/>Welcome &amp; Industry Sessions</div>
		<div class="tabby item2">Wednesday, 8/14:<br/> Merge Solutions Day 1</div>
		<div class="tabby item3">Thursday, 8/15:<br/>Merge Solutions Day 2</div>
		<div class="tabby item4">Friday, 8/16:<br/>Training</div>
	</div>
					
		<div class="content agenda_grid">						
<div id="agenda_swap"></div>
		</div>
</div>



</div>

</li>