		<div class="video_box">
			<div class="video_container">
				
			</div>
			<div class="video_close">
				<p><i class="icon-remove"></i> close</p>
			</div>
		</div>
		
		<div id="static_upper">
	
	<div id="logo">
		<img src="../mergelive2013/images/live_upper_logo.png" width="90%">
	</div>
	
	<div id="plane">
						<div class="social_fly">
						<div class="twitter_link"><a class="social_ie" href="https://twitter.com/MergeHealthcare" target="_blank"><img src="../mergelive2013/images/social_slug.png"></a></div>
						<div class="facebook_link"><a class="social_ie" href="https://www.facebook.com/MergeHealthcare" target="_blank"><img src="../mergelive2013/images/social_slug.png"></a></div>
						<div class="lin_link"><a class="social_ie" href="http://www.linkedin.com/company/merge-healthcare" target="_blank"><img src="../mergelive2013/images/social_slug.png"></a></div>
						</div>
						
	<img class="swap" src="../mergelive2013/images/plane.png">
		<!--[if IE 8]>
			<style>.swap {display: none !important;}</style><img class="ie_swap" src="../mergelive2013/images/plane.png">
		<![endif]-->
	</div>
	
	
	<div id="twitter_sidebar">
		<img src="../mergelive2013/images/on_air_sign.png">
	
		
		<a class="twitter-timeline" width="230" height="440" href="https://twitter.com/MergeHealthcare" data-widget-id="336934057642434560">Tweets by @MergeHealthcare</a>
		<script defer="defer">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<div id="sponsored_by">
	
		
	
		</div>
	
	</div>
	
	<div id="antenna"> 
		<img src="../mergelive2013/images/antenna.png">
	</div>
	


	
	</div>


				
		<div class="sequence-theme">
			<div id="sequence">

				<ul class="sequence-canvas cityscape mask">
											
					<li id="overview" class="animate-in">
						<span class="fader"><img class="blip" src="../mergelive2013/images/blip.gif"></span>
					</li>
				</ul>



			</div>
		</div>
