
	<%= render 'head' %>
	<body>
		<%= render 'cityscape' %>
		<br/>
		<div id="navbar">
			<%= render 'navbar' %>
		</div>		
		<br/>
		
		<div class="lower_content">
			<div id="sequence2">

				<ul class="sequence-canvas">
					<%= render 'overview' %>

					<%= render 'register' %>
					
					<%= render 'agenda' %>
					
					<%= render 'sponsors' %>	

					<%= render 'faq' %>	
				</ul>
				
				
							<div id="main_banner" class="center">
								<a href="http://www.surescripts.com/" target="_blank"><img src="../mergelive2013/images/sponsors/surescripts_ad.png"></a>
							</div>

			</div>
			



		</div>
						
	<%= render 'footer' %>	

	</body>
</html>