					<li id="faq">
												<div class="lower_stuff main_content_area">
							<h3 class="grey_head">FAQ <span class="smaller_grey">Frequently Asked Questions</span></h3>

<div class="scroller">
<h5>Why On-Demand?</h5>

<p>Our clients spoke and we listened. Following the 2012 Merge Live Client Conference in Chicago, our attendees told us that budgets are tighter than ever, their discretionary travel is being scrutinized and that it's hard to get away for three days given the cost and productivity pressures they are under. We hope that by going online, more clients can take advantage of all of the awesome educational opportunities and make even more connections online!</p>

<h5>When does registration open?</h5>

<p>Registration is open for Merge Live On-Demand. Clients can <a href="https://vts.inxpo.com/scripts/Server.nxp?LASCmd=AI:4;F:APIUTILS!51004&PageID=A686EFCC-CCFB-4659-B8AA-CC2C7F7C7E12" target="_blank">register here</a> now.</p>

<h5>What does registration cost?</h5>

<p>Registration and participation for current Merge clients is free.</p>

<h5>Can I invite colleagues to join me?</h5>

<p>All current clients are welcome to attend. Please feel free to <a href="https://vts.inxpo.com/scripts/Server.nxp?LASCmd=AI:4;F:APIUTILS!11000&ShowKey=14576" target="_blank">Forward to Friend</a> who is also a current Merge client.</p>

<h5>I am not a current client, can I attend?</h5>

<p>Education offered at Merge Live is geared towards current Merge clients. However, we also do welcome our prospective clients to join us. Please contact your sales representative for details on prospective new client registration.</p>

<h5>Like the in-person Merge Live event, will I still be able to ask questions and engage with speakers and my peers during educational sessions?</h5>

<p>Yes. We will have live chat Q&amp;A during all educational sessions and clients can access the Networking Lounge to live connect with Merge experts, client speakers and other attendees during conference hours.</p>

<h5>What is the Partner Expo?</h5>

<p>The Partner Expo is a virtual exhibit hall. During dedicated exhibit hours, attendees will have the opportunity to visit our sponsor booths and engage with our partners to learn about their current offerings. Live chat with sponsor representatives and downloads of their educational materials will also be available.</p>

<h5>What are the Partner Expo hours?</h5>

<p>The Partner Expo Hall will be open and ready for you to explore during each day of Merge Live&mdash;download content, chat with peers and partners and receive partner badges to win great prizes! The Partner Expo will be fully staffed for online discussions during dedicated Partner Expo times.  You can visit booths to pick up materials or leave a message at any time.
	<br/>
	<div class="faq_pad">
		<span style="font-weight:700;">PARTNER EXPO TIMES</span><br/>
	Tuesday, August 13: 10:00&ndash;2:00PM<br/>
	11:00&ndash;11:30AM*<br/>
	12:30&ndash;1:00PM*<br/>
	1:30&ndash;2:00PM*<br/>
 <br/>
	Wednesday, August 14: 10:00&ndash;4:30PM<br/>
	11:00&ndash;11:30AM*<br/>
	12:30&ndash;1:00PM*<br/>
	1:30&ndash;2:00PM*<br/>
 <br/>
	Thursday, August 15: 10:00&ndash;3:00PM<br/>
	11:00&ndash;11:30AM*<br/>
	12:30&ndash;1:00PM*<br/>
	1:30&ndash;2:00PM*<br/>
	<br/>
	*Denotes dedicated exhibit hours
	</div>
</p>

<h5>I am a current Merge partner. How do I become a sponsor?</h5>

<p>Sponsor packages are now available. For full details, please contact Partner Marketing Specialist Lauren Sandheinrich at 312.565.6812 or <a href="mailto:lauren.sandheinrich@merge.com">lauren.sandheinrich@merge.com</a>.</p>

<h3 class="grey_head"><span class="smaller_grey">Education Commonly Asked Questions</span></h3>

<h5>Can I attend sessions outside of my registered educational track?</h5>
<p>Yes, of course. You can attend any educational session within the Merge Live On-Demand agenda regardless of your registered track. It’s your conference. It’s your choice!</p>

<h5>When can I register for my individual sessions to start planning my personal schedule?</h5>
<p>An email will be sent to all registered attendees on August 1 to notify you that the Education area is officially open. Using your login information and the event link provided in your confirmation email, you can access the Education area and start building your personal agenda anytime after that date. Search by track and then pick and choose all of the sessions you want to attend.</p>

<h5>When should I login?</h5>
<p>We suggest you login at least five minutes early to ensure you’re ready when the session begins.</p>

<h5>What are the audio options to hear the sessions?</h5>
<p>You'll log in via your computer. If you have speakers built into your computer, you can listen that way. If you not, a dial-in number will provided so you can call in via phone.</p>

<h5>Can I ask questions during the webinars?</h5>
<p>Absolutely...we want all of our sessions to be interactive. You can ask questions using the chat and Q&amp;A areas in the web/ex and provide feedback through the session surveys afterwards. To continue the conversation after any session, we recommend going to the Networking Lounge.</p>

<h5>I missed a session I really wanted to attend. Can I still get the content?</h5>
<p>If you miss a session, everything will be recorded and you’ll be able to access the recording for 90 days via the Resource Center.</p>

</div>
						</div>
					</li>
