		<div id="footer_wrap">
			
			<div id="footer">
				<div id="lower_logo">
					<a href="http://www.merge.com/"><img src="../mergelive2013/images/merge_lower_logo.png"></a>
				</div>
				
				<div id="lower_nav">
					<ul>
					<li><a href="http://www.merge.com/common/privacy.aspx">privacy</a></li>
					<li class="lower_nav_divider">|</li>
					<li><a href="http://www.merge.com/common/terms.aspx">terms</a></li>
					<li class="lower_nav_divider">|</li>
					<li><a href="http://www.merge.com/common/sitemap.aspx">sitemap</a></li>
					<li class="lower_nav_divider">|</li>
					<li><a href="http://www.merge.com/Contact.aspx">contact</a></li>
					</ul>
				</div>
				
				<div id="social_nav">
					<ul>
						<li><i class="icon-twitter-sign"></i>  <a href="https://twitter.com/MergeHealthcare" target="_blank">Twitter #MergeLive</a></li>
						<li class="lower_nav_divider">|</li>
						<li><i class="icon-facebook-sign"></i> <a href="https://www.facebook.com/MergeHealthcare" target="_blank">Facebook</a></li>
						<li class="lower_nav_divider">|</li>						
						<li><i class="icon-linkedin-sign"></i> <a href="http://www.linkedin.com/company/merge-healthcare" target="_blank">LinkedIn</a></li>
					</ul>
				</div>
				
			</div>
		</div>
		
		<script type="text/javascript" src="//use.typekit.net/ngc8kuv.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="../mergelive2013/js/jquery.sequence-min.js"></script>
		<script src="../mergelive2013/js/cycle-ck.js"></script>
		<script src="../mergelive2013/js/sequencejs-options.modern-slide-in-ck.js"></script>
		<script src="../mergelive2013/js/jquery.cookie-ck.js"></script>
		<script src="../mergelive2013/js/retina.js"></script>
		
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-25608379-1']);
		  _gaq.push(['_setDomainName', 'merge.com']);
		  _gaq.push(['_setAllowHash', false]);
		  _gaq.push(['_setLocalRemoteServerMode']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>