<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="viewport" content="width=device-width">
		<title>Merge Live On-Demand 2013</title>
		
		<link rel="stylesheet" media="screen" href="../mergelive2013/css/live2013.css" />
		<link rel="stylesheet" media="screen" href="../mergelive2013/css/tablet.css" />
		<link rel="stylesheet" media="screen" href="../mergelive2013/css/mobile.css" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
		<!--[if IE 9]> <style> .lower_stuff {opacity: 1 !important}  </style> <![endif]-->
		<!--[if lte IE 7]>
		<link rel="stylesheet" media="screen" href="../mergelive2013/css/ie7.css" />
		<![endif]-->
				
	</head>