					<li id="overview" class="lower_stuff animate-in">
						<div class="main_content_area">
							<img src="../mergelive2013/images/broadcast_live.png" class="live_big_text">
							
							<div id="front_buttons">
								
											<ul class="controllers">
													<li><a href="https://vts.inxpo.com/scripts/Server.nxp?LASCmd=AI:4;F:APIUTILS!51004&PageID=A686EFCC-CCFB-4659-B8AA-CC2C7F7C7E12" target="_blank"><img src="../mergelive2013/images/tunein_button.png"></a></li>
													<li><a href="https://vts.inxpo.com/scripts/Server.nxp?LASCmd=AI:4;F:APIUTILS!11000&ShowKey=14576" target="_blank"><img src="../mergelive2013/images/forward_button.png"></a></li>
													<li class="watch_schedule"><a href="#"><img src="../mergelive2013/images/watch_button.png"></a></li>
											</ul>
								
								
							</div>
							
							<div id="front_copy_columns">
								
								<p class="intro_para">Coming directly from our desktop to yours, the 2013 Merge Live Client Conference will be coming to you live, online. From August 13&ndash;16, our community of clients will gather together for four great days of learning and networking in an easily accessible interactive platform.</p>
								
								<div id="front_copy_left">
									<p>This year's agenda is chock full of awesome educational events led by Merge experts, clients and special guests. Sessions will cover the latest industry trends, solution roadmaps and product tips and tricks to help every client make the most of their Merge investments.</p>
								</div>
								
								<div id="front_copy_right">
									<p>And, Merge Live On-Demand is not just limited to education. We'll have tons of opportunities for you to connect with your peers and other industry heavy-hitters through online networking forums, a virtual partner expo, social competitions, games and more!</p>
								</div>
										
										
														
							</div>
							<!--[if lte IE 7]>
							<div class="download_agenda">
								<a href="../mergelive2013/images/live_schedule.pdf"><img src="../mergelive2013/images/download.png"></a>
							</div>
							
							<![endif]-->

						</div>
					</li>