					<li id="register">
						<div class="lower_stuff main_content_area">
							<h3 class="orange_head">Register</h3>
							<p class="intro_para">Registration and participation in Merge Live is complimentary for current Merge clients.</p>

<p class="reg_para"><img class="remote_reg_button" src="../mergelive2013/images/reg_open_remote.png">Registration is now open.<br/><span class="sign_up_now"><a href="https://vts.inxpo.com/scripts/Server.nxp?LASCmd=AI:4;F:APIUTILS!51004&PageID=A686EFCC-CCFB-4659-B8AA-CC2C7F7C7E12" target="_blank">Sign up now &raquo;</a></span></p>
						</div>
	
					</li>