					<li id="sponsors">
												<div class="lower_stuff main_content_area">
							<h3 class="green_head">Sponsorships</h3>
<div class="scroller">
<p>Just like the in-person Merge Live Client Conference, we are proud to offer sponsorship opportunities to our partners for Merge Live On-Demand. As a sponsor, a ton of opportunities are available to you to connect with Merge clients!</p>

<h5 class="green_head">Why is Merge Live Going On-Demand?</h5>

<p>On-Demand works. We have seen it time and time again and want to extend this opportunity to our partners to reach more decision makers in the segments that matter. </p>

<h5 class="green_head">What Happens During On-Demand?</h5>

<p>Over the course of four days, partner sponsors can:<br/>
    &bull; Attend and host educational sessions delivered by Merge experts, clients and special guests<br/>
    &bull; Promote your products and services in the dedicated online Partner Expo<br/>
    &bull; Engage with fellow attendees in the chat forums happening in the Networking Lounge</p>

<h5 class="green_head">Sponsor Packages Now Available.</h5>
<p>For full details, please contact Partner Marketing Specialist Lauren Sandheinrich at 312.565.6812 or <a href="mailto:lauren.sandheinrich@merge.com">lauren.sandheinrich@merge.com</a>.</p>
</div>
						</div>

					</li>